ros2topic==0.18.11
sensor-msgs-py==4.2.4
launch-ros==0.19.8
generate-parameter-library-py==0.4.0
ros2pkg==0.18.11
ament-pep257==0.12.11
ament-package==0.14.0
rosidl-runtime-py==0.9.3
ament-lint==0.12.11
ros2lifecycle==0.18.11
ros2param==0.18.11
ament-cpplint==0.12.11
ament-lint-cmake==0.12.11
ros2service==0.18.11
ros2launch==0.19.8
rpyutils==0.2.1
ament-flake8==0.12.11
ros2node==0.18.11
launch==1.0.7
ros2multicast==0.18.11
teleop-twist-keyboard==2.4.0
domain-coordinator==0.10.0
ament-copyright==0.12.11
ros2cli==0.18.11
launch-testing==1.0.7
ros2action==0.18.11
ament-cppcheck==0.12.11
ros2interface==0.18.11
joint-state-publisher==2.4.0
nav2-simple-commander==1.0.0
ros2component==0.18.11
launch-testing-ros==0.19.8
ament-index-python==1.4.0
tf-transformations==1.1.0
ament-uncrustify==0.12.11
ros2doctor==0.18.11
osrf-pycommon==2.1.4
joint-state-publisher-gui==2.4.0
launch-yaml==1.0.7
ros2controlcli==2.47.0
sros2==0.10.5
launch-xml==1.0.7
tf2-ros-py==0.25.11
ros2run==0.18.11
rosidl-cli==3.1.6
ament-xmllint==0.12.11
cv-bridge==3.2.1
resource-retriever==3.1.2
shape-msgs==4.2.4
statistics-msgs==1.2.1
message-filters==4.3.5
tf2-py==0.25.11
laser-geometry==2.4.0
rosidl-cmake==3.1.6
sensor-msgs==4.2.4
diagnostic-updater==4.0.0
rcl-interfaces==1.2.1
controller-manager-msgs==2.47.0
tf2-geometry-msgs==0.25.11
rosidl-typesupport-fastrtps-c==2.2.2
ackermann-msgs==2.0.2
nav2-common==1.1.17
tf2-msgs==0.25.11
rosidl-generator-py==0.14.4
angles==1.15.0
stereo-msgs==4.2.4
visualization-msgs==4.2.4
std-msgs==4.2.4
interactive-markers==2.3.2
xacro==2.0.8
rosidl-adapter==3.1.6
rosidl-typesupport-introspection-cpp==3.1.6
slam-toolbox==2.6.9
control-msgs==4.7.0
std-srvs==4.2.4
gazebo-msgs==3.7.0
rosidl-generator-c==3.1.6
builtin-interfaces==1.2.1
composition-interfaces==1.2.1
ament-cmake-test==1.3.11
scripts==3.7.0
nav-2d-msgs==1.1.17
unique-identifier-msgs==2.2.1
nav-msgs==4.2.4
rcutils==5.1.6
nav2-msgs==1.1.17
bond==3.0.2
dwb-msgs==1.1.17
geometry-msgs==4.2.4
smclib==3.0.2
pcl-msgs==1.0.0
actionlib-msgs==4.2.4
rosidl-generator-cpp==3.1.6
trajectory-msgs==4.2.4
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
map-msgs==2.1.0
controller-manager==2.47.0
rosgraph-msgs==1.2.1
twist-mux-msgs==3.0.1
rosidl-typesupport-fastrtps-cpp==2.2.2
lifecycle-msgs==1.2.1
rmw-dds-common==1.6.0
rclpy==3.3.15
rosidl-parser==3.1.6
action-msgs==1.2.1
python-qt-binding==1.1.2
diagnostic-msgs==4.2.4
rosidl-typesupport-introspection-c==3.1.6
backoff==2.2.1
dvc-render==1.0.2
inflection==0.5.1
importlib-metadata==6.11.0
QtAwesome==1.0.3
anaconda-navigator==2.1.4
pydocstyle==6.1.1
PyJWT==2.10.1
flake8==3.9.2
parso==0.8.3
spyder==5.1.5
bokeh==2.4.2
imagesize==1.3.0
tabulate==0.9.0
keras==3.9.0
zipp==3.21.0
psutil==6.1.1
lockfile==0.12.2
mpmath==1.2.1
backcall==0.2.0
click-plugins==1.1.1
omegaconf==2.3.0
mercantile==1.2.1
testpath==0.5.0
conda-content-trust==0+unknown
apache-airflow-providers-http==5.0.0
nbclient==0.5.13
geopy==2.4.1
sphinxcontrib-devhelp==1.0.2
pyerfa==2.0.0
uc-micro-py==1.0.3
tinycss==0.4
jupyterlab-widgets==1.0.0
jsonschema==4.23.0
Mako==1.3.8
pyogrio==0.10.0
ruamel.yaml==0.18.10
fastapi==0.115.8
sqlparse==0.5.3
contextily==1.6.2
holoviews==1.14.8
voluptuous==0.15.2
seaborn==0.11.2
python-dotenv==1.0.1
nltk==3.7
wurlitzer==3.0.2
yarl==1.18.3
apache-airflow-providers-smtp==1.9.0
apache-airflow-providers-sqlite==4.0.0
sortedcollections==2.1.0
pycosat==0.6.3
jupyterlab-pygments==0.1.2
service-identity==18.1.0
pendulum==3.0.0
cftime==1.6.4.post1
jinja2-time==0.2.0
pyct==0.4.6
dvc-objects==5.1.0
diskcache==5.6.3
qtconsole==5.3.0
pycurl==7.44.1
snowballstemmer==2.2.0
Flask-Limiter==3.10.1
queuelib==1.5.0
widgetsnbextension==3.5.2
mypy-extensions==0.4.3
click==8.1.8
Markdown==3.3.4
openpyxl==3.0.9
HeapDict==1.0.1
zope.interface==5.4.0
Scrapy==2.6.1
atomicwrites==1.4.0
pydantic==2.10.6
semver==3.0.4
isort==5.9.3
gql==3.5.1
conda-verify==3.4.2
jupyterlab==3.3.2
pyasn1==0.4.8
numexpr==2.8.1
backports.tempfile==1.0
frozenlist==1.5.0
poyo==0.5.0
asgiref==3.8.1
flufl.lock==8.1.0
Flask-SQLAlchemy==2.5.1
hyperlink==21.0.0
propcache==0.2.1
babel==2.17.0
httptools==0.6.4
ordered-set==4.1.0
libclang==18.1.1
Werkzeug==2.2.3
spyder-kernels==2.1.3
keyring==23.4.0
jmespath==0.10.0
TBB==0.2
iniconfig==1.1.1
libarchive-c==2.9
mkl-random==1.2.2
grpcio==1.65.5
python-nvd3==0.16.0
jeepney==0.7.1
requests==2.32.3
apache-airflow==2.10.5
multidict==6.1.0
PySocks==1.7.1
matplotlib==3.5.1
WTForms==3.2.1
nvidia-ml-py==12.570.86
shellingham==1.5.4
itsdangerous==2.2.0
MarkupSafe==3.0.2
aiosqlite==0.20.0
arrow==1.2.2
cron-descriptor==1.4.5
markdown-it-py==3.0.0
scikit-learn-intelex==2021.20220215.212715
setproctitle==1.3.4
argon2-cffi-bindings==21.2.0
colorama==0.4.6
rsa==4.7.2
click-didyoumean==0.3.1
mdit-py-plugins==0.4.2
imageio==2.9.0
trio==0.29.0
astroid==2.6.6
conda-package-handling==1.8.1
backports.weakref==1.0.post1
jupyterlab-server==2.10.3
funcy==2.0
filelock==3.6.0
sniffio==1.3.1
textdistance==4.2.1
olefile==0.46
conda-repo-cli==1.0.4
geographiclib==2.0
ipykernel==6.9.1
constantly==15.1.0
cffi==1.17.1
pathspec==0.12.1
opencv-python==4.11.0.86
prison==0.2.1
sentry-sdk==2.22.0
apache-airflow-providers-ftp==3.12.0
iterative-telemetry==0.0.10
SQLAlchemy==1.4.54
sphinxcontrib-jsmath==1.0.1
pylint==2.9.6
sqltrie==0.11.2
panel==0.13.0
graphql-core==3.2.3
asyncssh==2.20.0
pickleshare==0.7.5
google-re2==1.1.20240702
google-crc32c==1.1.2
watchfiles==1.0.4
attrs==25.1.0
mdurl==0.1.2
termcolor==2.5.0
dvc-studio-client==0.21.0
pydot==3.0.4
ujson==5.1.0
trio-websocket==0.11.1
Flask==2.2.5
charset-normalizer==3.4.1
pyxdg==0.27
Flask-Caching==2.3.0
vine==5.1.0
itemadapter==0.3.0
Bottleneck==1.3.4
fastjsonschema==2.15.1
wcwidth==0.2.5
distributed==2022.2.1
distro==1.9.0
text-unidecode==1.3
universal_pathlib==0.2.6
typing_extensions==4.12.2
dvclive==3.48.2
opt_einsum==3.4.0
future==0.18.2
PyHamcrest==2.0.2
flatten-dict==0.4.2
celery==5.4.0
annotated-types==0.7.0
linkify-it-py==2.0.3
cycler==0.11.0
backports.functools-lru-cache==1.6.4
boto3==1.21.32
jdcal==1.4.1
dpath==2.2.0
brotlipy==0.7.0
ConfigUpdater==3.2
gitdb==4.0.12
pandocfilters==1.5.0
itemloaders==1.0.4
decorator==5.1.1
astropy==5.0.4
defusedxml==0.7.1
Send2Trash==1.8.0
SQLAlchemy-Utils==0.41.2
tldextract==3.2.0
pyls-spyder==0.4.0
uuid_utils==0.10.0
exceptiongroup==1.2.2
nbconvert==6.4.4
Flask-Login==0.6.3
dvc-data==3.16.9
SQLAlchemy-JSONField==1.0.2
alabaster==0.7.12
google-api-core==1.25.1
numpydoc==1.2
ptyprocess==0.7.0
h11==0.14.0
zict==2.0.0
executing==0.8.3
daal4py==2021.5.0
affine==2.4.0
alembic==1.14.1
tzdata==2025.1
dvc-http==2.32.0
wheel==0.37.1
urllib3==1.26.20
datashader==0.13.0
gmpy2==2.1.2
ml-dtypes==0.4.1
gto==1.7.2
scikit-image==0.19.2
referencing==0.36.2
google-cloud-core==1.7.1
python-lsp-black==1.0.0
protobuf==4.25.6
cachelib==0.9.0
intake==0.6.5
parsel==1.6.0
pandas==1.4.2
ipython-genutils==0.2.0
pytz==2025.1
black==19.10b0
dulwich==0.22.7
sphinxcontrib-htmlhelp==2.0.0
jupyter-core==4.9.2
aiohappyeyeballs==2.4.4
absl-py==2.1.0
apache-airflow-providers-common-compat==1.3.0
plotly==5.6.0
sympy==1.10.1
asttokens==2.0.5
typed-ast==1.4.3
pyflakes==2.3.1
cryptography==42.0.8
cytoolz==0.11.0
packaging==24.2
cookiecutter==1.7.3
fastapi-cli==0.0.7
uvloop==0.21.0
mkl-service==2.4.0
python-dateutil==2.9.0.post0
cloudpickle==2.0.0
imagecodecs==2021.8.26
tables==3.6.1
dvc-task==0.40.2
Unidecode==1.2.0
pkginfo==1.8.2
toml==0.10.2
pycparser==2.22
google-pasta==0.2.0
requests-file==1.5.1
tornado==6.1
networkx==2.7.1
aiosignal==1.3.2
astunparse==1.6.3
anaconda-project==0.10.2
Jinja2==3.1.5
tifffile==2021.7.2
docker-pycreds==0.4.0
colorlog==6.9.0
Twisted==22.2.0
async-timeout==5.0.1
pure-eval==0.2.2
wandb==0.19.8
beautifulsoup4==4.11.1
munkres==1.1.4
opentelemetry-semantic-conventions==0.48b0
joblib==1.1.0
three-merge==0.1.1
tensorflow==2.18.0
w3lib==1.21.0
partd==1.2.0
sphinxcontrib-serializinghtml==1.1.5
pyproj==3.6.1
sphinxcontrib-applehelp==1.0.2
google-cloud-storage==1.31.0
entrypoints==0.4
nbclassic==0.3.5
jupyter-client==6.1.12
Sphinx==4.4.0
fsspec==2025.2.0
selenium==4.28.1
shapely==2.0.7
s3transfer==0.5.0
billiard==4.2.1
diff-match-patch==20200713
jupyter-console==6.4.0
ruamel-yaml-conda==0.15.100
antlr4-python3-runtime==4.9.3
atpublic==5.1
tomli==1.2.2
python-lsp-jsonrpc==1.0.0
terminado==0.13.1
stack-data==0.2.0
rasterio==1.4.3
pluggy==1.5.0
Flask-Session==0.5.0
json5==0.9.6
uvicorn==0.34.0
google-auth==1.33.0
fonttools==4.25.0
apache-airflow-providers-common-sql==1.21.0
chardet==4.0.0
shortuuid==1.0.13
pygtrie==2.5.0
binaryornot==0.4.4
XlsxWriter==3.0.3
pexpect==4.8.0
flatbuffers==25.2.10
ipython==8.2.0
python-lsp-server==1.2.4
sortedcontainers==2.4.0
rich==13.9.4
geopandas==1.0.1
amqp==5.3.1
gast==0.6.0
google-resumable-media==1.3.1
anyio==4.8.0
dvc==3.59.1
dask==2022.2.1
numba==0.55.1
opentelemetry-proto==1.27.0
wsproto==1.2.0
locket==0.2.1
QDarkStyle==3.0.2
blinker==1.9.0
python-daemon==3.1.2
multipledispatch==0.6.0
six==1.17.0
tblib==1.7.0
navigator-updater==0.2.1
marshmallow==3.26.0
Flask-Babel==2.0.0
outcome==1.3.0.post0
pytest==7.1.1
greenlet==3.1.1
webencodings==0.5.1
wrapt==1.17.2
pyodbc==4.0.32
datashape==0.5.4
tenacity==9.0.0
netCDF4==1.7.2
platformdirs==4.3.6
rfc3339-validator==0.1.4
rich-toolkit==0.13.2
pygit2==1.15.1
opentelemetry-exporter-otlp-proto-common==1.27.0
zc.lockfile==3.0.post1
mock==4.0.3
cachetools==4.2.2
matplotlib-inline==0.1.2
clyent==1.2.2
apache-airflow-providers-common-io==1.5.0
bitarray==2.4.1
mkl-fft==1.3.1
xarray==0.20.1
bcrypt==3.2.0
hydra-core==1.3.2
aiohttp-retry==2.9.1
pynvml==12.0.0
qstylizer==0.1.10
incremental==21.3.0
tensorboard-data-server==0.7.2
pymongo==4.11.1
kombu==5.4.2
pyrsistent==0.18.0
lxml==4.8.0
rich-argparse==1.6.0
param==1.12.0
sip==4.19.13
prompt_toolkit==3.0.50
tensorflow-io-gcs-filesystem==0.37.1
conda-pack==0.6.0
rope==0.22.0
PyDispatcher==2.0.5
jsonschema-specifications==2024.10.1
py==1.11.0
PyYAML==6.0.2
Rtree==0.9.7
dill==0.3.1.1
Automat==20.2.0
smmap==5.0.2
click-repl==0.3.0
nest-asyncio==1.5.5
conda==4.12.0
websocket-client==1.8.0
googleapis-common-protos==1.66.0
idna==3.10
namex==0.0.8
Cython==0.29.28
bkcharts==0.2
kiwisolver==1.3.2
marshmallow-oneofschema==3.1.1
pyparsing==3.2.1
starlette==0.45.3
lazy-object-proxy==1.10.0
GitPython==3.1.44
aiohttp==3.11.11
intervaltree==3.1.0
python-multipart==0.0.20
httpx==0.27.0
docutils==0.17.1
conda-build==3.21.8
opentelemetry-exporter-otlp==1.27.0
Flask-WTF==1.2.2
cligj==0.7.2
soupsieve==2.3.1
xlrd==2.0.1
pyviz-comms==2.0.2
eval_type_backport==0.2.2
Pillow==9.0.1
opentelemetry-exporter-otlp-proto-grpc==1.27.0
traitlets==5.1.1
httpcore==1.0.7
connexion==2.14.2
clickclick==20.10.2
more-itertools==10.6.0
SecretStorage==3.3.1
mistune==0.8.4
jupyter-server==1.13.5
jupyter==1.0.0
Flask-JWT-Extended==4.7.1
dictdiffer==0.9.0
llvmlite==0.38.0
pyasn1-modules==0.2.8
dnspython==2.7.0
optree==0.14.1
emoji==2.14.1
anaconda-client==1.9.0
yapf==0.31.0
appdirs==1.4.4
time-machine==2.16.0
Deprecated==1.2.18
argon2-cffi==21.3.0
marshmallow-sqlalchemy==0.28.2
grandalf==0.8
Pygments==2.19.1
python-slugify==8.0.4
bleach==4.1.0
xyzservices==2025.1.0
QtPy==2.0.1
apache-airflow-providers-imap==3.8.0
wirerope==1.0.0
apache-airflow-providers-fab==1.5.2
smart-open==5.1.0
tensorboard==2.18.0
tqdm==4.64.0
numpy==1.26.0
typer==0.15.1
autopep8==1.6.0
patsy==0.5.2
cssselect==1.1.0
ipywidgets==7.6.5
statsmodels==0.13.2
h5py==3.13.0
plyfile==1.1
pyzmq==22.3.0
methodtools==0.4.7
conda-token==0.3.0
limits==4.0.1
jedi==0.18.1
gunicorn==23.0.0
pydantic_core==2.27.2
notebook==6.4.8
rpds-py==0.22.3
pip==21.2.4
PyWavelets==1.3.0
opentelemetry-api==1.27.0
websockets==15.0
threadpoolctl==2.2.0
sphinxcontrib-qthelp==1.0.3
colorcet==2.0.6
pycodestyle==2.7.0
Flask-AppBuilder==4.5.2
glob2==0.7
requests-toolbelt==1.0.0
scipy==1.7.3
watchdog==2.1.6
regex==2022.3.15
msgpack==1.0.2
orjson==3.10.15
nbformat==5.3.0
email_validator==2.2.0
scikit-learn==1.0.2
scmrepo==3.3.10
Protego==0.1.16
ruamel.yaml.clib==0.2.12
toolz==0.11.2
python-snappy==0.6.0
botocore==1.24.32
croniter==6.0.0
mccabe==0.6.1
pyOpenSSL==25.0.0
debugpy==1.5.1
tomlkit==0.13.2
hvplot==0.7.3
setuptools==61.2.0
prometheus-client==0.13.1
gensim==4.1.2
apispec==6.8.1
opentelemetry-sdk==1.27.0
et-xmlfile==1.1.0
opentelemetry-exporter-otlp-proto-http==1.27.0
certifi==2025.1.31
configobj==5.0.9
pep8==1.7.1
argcomplete==3.5.3
nose==1.3.7
weave==0.51.36
shtab==1.7.1
